.form-container{
    width: 400px;
    height: 500px;
    background: #3ad886;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-right: 100px;
    padding: 10px;
}

.picture-box{
    width: 300px;
    height: 300px;
    background: white;
    margin-left: 50px;

}

.button-container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.cancel-btn{
    width: 60px;
    height: 40px;
    background: #ed6b5a;
    border: none;
    border-radius: 7px;
}

.add-btn {
    width: 100px;
    height: 40px;
    background: #ed6b5a;
    border: none;
    border-radius: 7px;
}

.save-changes-btn {
    width: 100px;
    height: 40px;
    background: #ed6b5a;
    border: none;
    border-radius: 7px;
}